@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --background: #ffffff;
  --foreground: #3b21a8;
  --color-fd-foreground: #3b21a8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-brand-regular);
  --font-mono: var(--font-geist-mono);
  --text-xxs: 0.5rem;
}

body {
  font-family: var(--font-sans);
  font-feature-settings: "ss04" 1, "ss02" 1, "ss08" 1;
}

.text-9xl {
  font-weight: 500;
  letter-spacing: -0.34rem;
  font-kerning: auto;
  font-feature-settings: "ss04" 1, "ss02" 1, "ss08" 1;
}

.p-bold {
  font-weight: 850;
  letter-spacing: -0.02rem;
}

@theme {
  --color-brand-primary: #7b70ff;
  --color-ciris-purple: #7b70ff;
  --color-ciris-yellow: #ffe480;
  --color-ciris-blue: #81eeff;
  --color-ciris-green: #28ffb4;
  --color-ciris-vlback: #f0ecff;
  --color-fd-card: var(--color-ciris-vlback);
  --color-fd-secondary: #edeeff;
  --color-fd-primary: #1a0764;
  --color-fd-accent: #dbd6ef;
  --color-fd-muted-foreground: #7b70ff;
  --tw-prose-body: #3e3e3e;
}

.prose {
  color: #3e3e3e;
  --tw-prose-headings: #3b21a8;
}

.prose a {
  color: #3b21a8;
}

.dark .prose {
  color: #b8b8b8;
  --tw-prose-headings: #ffffff;
}

@utility container {
  margin-inline: auto;
}

@utility h0 {
  @apply text-4xl leading-tight;
}

/* .bg-fd-card {
  @apply bg-ciris-vlback/40
} */

h4 {
  @apply text-lg leading-tight;
}

@media (width >=96rem) {
  .container {
    max-width: 96rem;
  }
}

.max-w-7xl {
  max-width: 80rem;
}